extends ./templates/template


block vars
    - var pageTitle = 'ИП Казанцев А.В.'

block content
    main.main-content
        .main-content__inner
            ul
                li
                    a(href="page-main.html") Главная
                li
                    a(href="page-service.html") Услуги
                li
                    a(href="page-project.html") Проект(не готово)
