extends ./templates/template


block vars
    - var pageTitle = 'ТД Время'

block content
    main.page-content
        .page-content__wrap
            ul
                li
                    a(href="page-main.html") Главная
                li
                    a(href="page-service.html") Услуги
                li
                    a(href="page-project.html") Проект
