extends ./templates/template

block vars
    - var pageTitle = 'ИП Казанцев А.В.'
    - var pageId = 1

block content
    main.main-content
        +main-intro({
            mix: 'main-content__main-intro',
        })
        +about({
            mix: 'main-content__about',
        })
        +features({
            mix: 'main-content__features',
        })
        +services({
            mix: 'main-content__services',
        })
        +callback({
        })
