extends ./templates/template

block vars
    - var pageTitle = 'ИП Казанцев А.В.'
    - var pageId = 1

block content
    main.main-content.main-content--padding-top
        +project-intro({
        })
        +gallery({
            mix: 'main-content__gallery'
        })
        +callback({
        })
