extends ./templates/template

block vars
    - var pageTitle = 'ИП Казанцев А.В.'
    - var pageId = 1

block content
    main.main-content.main-content--padding-top
        +service-intro({
            mix: 'main-content__service-intro',
        })
        +projects({
            mix: 'main-content__projects',
        })
        +callback({
        })
