mixin service-intro(data)
    +el({
        class: 'service-intro',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .service-intro__inner
            +heading-lvl-2({
                tag: 'h1',
                text: 'Установка БКТП, БКРТП, КТПН',
                mod: 'centred',
            })
        .service-intro__content
            .service-intro__content-inner
                .service-intro__image-wrap
                    +el({
                        tag: 'img',
                        class: 'service-intro__image',
                        image: 'service-intro.jpg'
                    })(srcset="assets/images/service-intro@2x.jpg 2x")
                .service-intro__text-wrap
                    .service-intro__text
                        p.
                            Строительство и&nbsp;установка БКТП (БКРТП, КТПН), начиная с&nbsp;котлована и&nbsp;до&nbsp;включения трансформатора на&nbsp;холостой ход.
                            Возможность выполнения работ вашей рабочей силой или бригадой из&nbsp;4-5 человек без требований к&nbsp;квалификации.
                            Экспертная оценка имеющейся проектной документации, внесение необходимых правок, при необходимости&nbsp;&mdash; обучение команды заказчика.
                    .service-intro__button-wrap
                        +button({
                            mod: ['border-white'],
                            mix: 'service-intro__button',
                            text: 'Отправить заявку',
                        })
