.main-content {
  &--padding-top {
    padding-top: 25px;
  }
}

.main-content__inner {
  @include inner;
}

.main-content__projects {
  margin-bottom: 25px;
}

.main-content__services,
.main-content__object-map,
.main-content__gallery {
  margin-bottom: 30px;
}

@include respond-to(medium) {
  .main-content {
    &--padding-top {
      padding-top: 35px;
    }
  }

  .main-content__projects {
    margin-bottom: 0;
  }

  .main-content__services,
  .main-content__object-map,
  .main-content__gallery {
    margin-bottom: 40px;
  }
}

@include respond-to(large) {
  .main-content {
    &--padding-top {
      padding-top: 45px;
    }
  }

  .main-content__services,
  .main-content__object-map,
  .main-content__gallery {
    margin-bottom: 80px;
  }
}
