.button {
  display: inline-block;
  padding: 6px 8px;
  border: none;
  background-color: color(primary);
  color: color(white);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  @include hover {
    color: rgba(color(white), 0.5);
  }

  &--large {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
  }

  &--bg-secondary {
    background-color: color(secondary);
  }

  &--border-white {
    background-color: transparent;
    border: 1px solid;
    border-color: color(white);
    color: color(white);

    @include hover {
      border-color: rgba(color(white), 0.5);
    }
  }

  &--arrow {
    position: relative;
    padding-left: 35px;
    padding-right: 35px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc704' viewBox='0 0 8 10'%3E%3Cpolygon points='1.5 10 0.2 8.4 4.4 4.9 0.2 1.6 1.5 0 7.8 4.8 '/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    @include hover {
      &::after {
        opacity: 0.5;
      }
    }
  }
}

.button--secondary.button--arrow {
  &::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300274e' viewBox='0 0 8 10'%3E%3Cpolygon points='1.5 10 0.2 8.4 4.4 4.9 0.2 1.6 1.5 0 7.8 4.8 '/%3E%3C/svg%3E");
  }
}

@include respond-to(large) {
  .button {
    padding: 15px 25px;
    font-size: 16px;
    line-height: 20px;

    &--large {
      padding: 15px 25px;
      font-size: 16px;
      line-height: 20px;
    }

    &--arrow {
      padding-left: 40px;
      padding-right: 40px;

      &::after {
        right: 25px;
        width: 10px;
        height: 10px;
        margin-top: -5px;
      }
    }
  }
}
