@include respond-to(medium) {
  .call-up {
    position: relative;
    padding-left: 38px;
    font-size: 11px;
    line-height: 13px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 29px;
      height: 29px;
      background-image: url("../assets/images/smartphone.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .call-up__text,
  .call-up__link {
    display: block;
    text-transform: uppercase;
  }

  .call-up__text {
    margin-bottom: 3px;
    letter-spacing: 0.02em;
    color: color(black);
  }

  .call-up__link {
    font-weight: 500;
    letter-spacing: 0.05em;
    color: color(primary);
    text-decoration: none;
  }
}

@include respond-to(large) {
  .call-up {
    padding-left: 46px;
    font-size: 14px;
    line-height: 16px;

    &::before {
      width: 35px;
      height: 35px;
    }
  }

  .call-up__text {
    margin-bottom: 5px;
    font-size: 13px;
  }
}
