.label {
  display: inline-block;
  position: relative;
  padding: 8px 16px;
  background-color: color(secondary);
  color: color(white);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 5px solid darken(color(secondary), $change);
    border-bottom: 5px solid darken(color(secondary), $change);
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
  }
}

@include respond-to(medium-lg) {
  .label {
    padding: 10px 15px;
    font-size: 30px;

    &::after {
      border-right: 6px solid darken(color(secondary), $change);
      border-bottom: 6px solid darken(color(secondary), $change);
      border-left: 6px solid transparent;
      border-top: 6px solid transparent;
    }
  }
}

@include respond-to(large) {
  .label {
    font-size: 36px;

    &::after {
      border-right: 7px solid darken(color(secondary), $change);
      border-bottom: 7px solid darken(color(secondary), $change);
      border-left: 7px solid transparent;
      border-top: 7px solid transparent;
    }
  }
}
