.projects-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 280px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mask(rgba(color(primary), 0.1)) {
    @include transition-md;
  }

  @include hover {
    &::after {
      opacity: 0;
    }
  }
}

.projects-card__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.projects-card__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.projects-card__text-wrap {
  margin-top: auto;
}

.projects-card__text {
  margin: 0;
  color: color(white);
  font-weight: 300;
  font-size: 12px;
}

@include respond-to(medium) {
  .projects-card {
    height: 24vw;
  }
}

@include respond-to(medium-lg) {
  .projects-card__text {
    font-size: 15px;
  }
}

@include respond-to(large) {
  .projects-card {
    height: 410px;
  }

  .projects-card__text {
    font-size: 18px;
  }
}
