mixin main-nav(data)
    -var className = 'main-nav'
    -var active = ''

    +el({
        tag: 'ul',
        class: className,
        mod: data.mod,
        mix: data.mix
    })&attributes(attributes)
        each item, index in data.items
            if pageId && index == pageId - 1
                -var active = ' active'
            else
                -var active = ''

            +el({
                tag: 'li',
                class: className + '__item',
                mix: active,
            })(itemprop='name')
                +el({
                    tag: 'a',
                    class: className + '__link',
                    text: item.text,
                    js: item.js,
                    href: item.href,
                })(itemprop='url')
