include ./el.pug
include ./head.pug
include ./scripts.pug

include ../blocks/main-header/main-header.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/button/button.pug
include ../blocks/button-nav/button-nav.pug
include ../blocks/button-close/button-close.pug
include ../blocks/field/field.pug
include ../blocks/button-up/button-up.pug
include ../blocks/logo/logo.pug
include ../blocks/call-up/call-up.pug
include ../blocks/button-icon/button-icon.pug
include ../blocks/control/control.pug
include ../blocks/main-footer/main-footer.pug
include ../blocks/main-intro/main-intro.pug
include ../blocks/heading-lvl-2/heading-lvl-2.pug
include ../blocks/about/about.pug
include ../blocks/features/features.pug
include ../blocks/callback/callback.pug
include ../blocks/form/form.pug
include ../blocks/services/services.pug
include ../blocks/services-card/services-card.pug
include ../blocks/picture/picture.pug
include ../blocks/features-item/features-item.pug
include ../blocks/service-intro/service-intro.pug
include ../blocks/project-intro/project-intro.pug
include ../blocks/projects/projects.pug
include ../blocks/projects-card/projects-card.pug
include ../blocks/label/label.pug
include ../blocks/object-map/object-map.pug
include ../blocks/map-list/map-list.pug
include ../blocks/heading-lvl-1/heading-lvl-1.pug
include ../blocks/gallery/gallery.pug
include ../blocks/dots/dots.pug
include ../blocks/modal/modal.pug
include ../blocks/overlay/overlay.pug
