mixin features(data)
    -
        var features = [
            {
                text: 'Возможность работы с&nbsp;командой заказчика',
                mod: 'teamwork',
            },
            {
                text: 'Обучение команды заказчика',
                mod: 'presentation',
            },
            {
                text: 'Обучение команды заказчика',
                mod: 'hourglass',
            },
            {
                text: 'Работа с&nbsp;ИП&nbsp;дешевле',
                mod: 'money',
            },
        ]
    +el({
        tag: 'section',
        class: 'features',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .features__inner
            +heading-lvl-2({
                tag: 'h2',
                text: 'Преимущества',
                mod: ['centred'],
            })
        .features__content
            .features__inner
                ul.features__list
                    each item in features
                        li.features__item
                            +features-item({
                                text: item.text,
                                mod: item.mod,
                            })
