mixin heading-lvl-1(data)
    +el({
        tag: data.tag,
        class: 'heading-lvl-1',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
        text: data.text,
    })&attributes(attributes)
