mixin callback(data)
    +el({
        tag: 'section',
        class: 'callback',
        mix: data.mix,
        mod: data.mod,
        id: 'callback',
    })&attributes(attributes)
        .callback__inner
            .callback__text-wrap
                h2.callback__heading-lvl-2 Заказать звонок
                p.callback__text Вы&nbsp;можете оставить номер и&nbsp;я&nbsp;перезвоню вам в&nbsp;ближайшее&nbsp;время
            +form({
                class: 'callback__form',
            })
                .callback__field-group
                    +field({
                        type: 'tel',
                        placeholder: '+7 (___) ___-__-__ ',
                        mix: 'callback__field',
                    })
                    +button({
                        text: 'Отправить',
                        type: 'submit',
                        mix: 'callback__submit',
                        mod: ['large']
                    })
                p.callback__note Предоставляя свои контакты, вы соглашаетесь с&nbsp;политикой конфиденциальности.
