.about__inner {
  @include inner;
}

.about__content {
  padding: 25px 0;
  border: 1px solid color(border);
  background-color: color(light);
}

.about__figure {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
}

.about__image {
  display: block;
  width: 100%;
}

.about__caption {
  position: relative;
  z-index: 1;
  width: 160px;
  margin: 0 auto;
  margin-top: -25px;
  padding: 7px;
  background-color: color(primary);
  color: color(white);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.04em;
}

.about__text {
  font-size: 18px;
  letter-spacing: 0.03em;

  @include first-last;
}


@include respond-to(medium) {
  .about__content {
    .about__inner {
      display: flex;
    }
  }

  .about__figure {
    order: 2;
    width: 215px;
    margin-bottom: 0;
  }

  .about__text {
    order: 1;
    width: calc(100% - 255px);
    margin-right: 40px;
    padding-top: 20px;
  }
}

@include respond-to(medium-lg) {
  .about__content {
    padding: 30px 0;
  }

  .about__figure {
    width: 320px;
  }

  .about__text {
    width: calc(100% - 400px);
    margin-right: 80px;
    font-size: 20px;
  }

  .about__caption {
    width: 250px;
    margin-top: -37px;
    padding: 10px;
    font-size: 16px;
  }
}

@include respond-to(large) {
  .about__content {
    padding: 35px 0;
  }

  .about__figure {
    width: 400px;
  }

  .about__text {
    width: calc(100% - 480px);
    padding-top: 30px;
    font-size: 22px;
    letter-spacing: 0.05em;
  }

  .about__caption {
    width: 300px;
    padding: 12px;
    margin-top: -50px;
    font-size: 22px;
  }
}
