mixin about(data)
    +el({
        tag: 'section',
        class: 'about',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .about__inner
            +heading-lvl-2({
                tag: 'h2',
                text: 'Oбо мне',
                mod: 'centred',
            })
        .about__content
            .about__inner
                +el({
                    tag: 'figure',
                    class: 'about__figure',
                })
                    img.about__image(src="assets/images/about.jpg" srcset="assets/images/about@2x.jpg 2x" width="" alt="Казанцев Александр Владимирович")
                    +el({
                        tag: 'figcaption',
                        class: 'about__caption',
                        text: 'Казанцев Александр Владимирович'
                    })
                .about__text
                    p.
                        15-летний опыт проведения электромонтажных работ в&nbsp;Санкт-Петербурге и&nbsp;ЛО в&nbsp;роли прораба и&nbsp;начальника участка.
                        Среди заказчиков&nbsp;&mdash; ОАО ЛенЭнерго, РосКар, ОЭК, СПБС, Банк России.
