.features-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70px;
  padding: 15px 20px;
  padding-left: 80px;
  color: inherit;
  font-size: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--teamwork {
    &::before {
      background-image: url('../assets/images/teamwork.svg');
    }
  }

  &--presentation {
    &::before {
      background-image: url('../assets/images/presentation.svg');
    }
  }

  &--hourglass {
    &::before {
      background-image: url('../assets/images/hourglass.svg');
    }
  }

  &--money {
    &::before {
      background-image: url('../assets/images/money.svg');
    }
  }
}

@include respond-to(medium) {
  .features-item {
    display: block;
    max-width: 200px;
    min-height: 0;
    margin: 0 auto;
    padding: 0;
    padding-top: 55px;
    text-align: center;
    font-size: 14px;

    &::before {
      top: 0;
      left: 50%;
      margin-left: -20px;
    }

    &--money {
      max-width: 140px;
    }
  }
}

@include respond-to(medium-lg) {
  .features-item {
    padding-top: 80px;
    font-size: 18px;

    &::before {
      margin-left: -30px;
      width: 60px;
      height: 60px;
    }
  }
}

@include respond-to(large) {
  .features-item {
    padding-top: 100px;
    font-size: 22px;
    max-width: 300px;

    &::before {
      top: 0;
      left: 50%;
      margin-left: -40px;
      width: 80px;
      height: 80px;
    }

    &--money {
      max-width: 200px;
    }
  }
}
