.call-up {
  position: relative;
  padding-left: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 30px;
    background-image: url("../assets/images/smartphone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.call-up__text,
.call-up__link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
}

.call-up__text {
  letter-spacing: 0.02em;
}

.call-up__link {
  font-weight: 500;
  letter-spacing: 0.05em;
}
