.main-header {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: color(primary);
  color: color(white);
}

.main-header__wrapper,
.main-header__main-nav-wrapper {
  @include wrapper;
}

.main-header__left,
.main-header__right {
  width: calc(50% - 90px);
}

.main-header__left {
  margin-right: auto;
}

.main-header__right {
  margin-left: auto;
}

.main-header__panel {
  width: 100%;
  max-height: 0;
  background-color: color(white);

  &.active {
    max-height: 9999px;
  }
}

.main-header__main-nav-wrapper {
  padding-top: 5px;
  padding-bottom: 30px;
}

@include respond-to(medium) {
  .main-header__panel {
    max-height: none;
    background-color: color(primary);
  }

  .main-header__main-nav-wrapper {
    padding-top: 7px;
    padding-bottom: 8px;
  }
}
