mixin main-header(data)
    +el({
        tag: 'header',
        class: 'main-header',
        mix: data.mix,
        mod: data.mod,
        js: 'header',
    })&attributes(attributes)
        .main-header__top
            .main-header__inner
                .main-header__left
                    +button-nav({
                        mix: 'main-header__button-nav',
                        js: 'main-nav-btn',
                    })
                +logo({
                    mix: 'main-header__logo',
                })
                .main-header__right
                    +button-icon({
                        mix: 'main-header__button-phone',
                        icon: 'phone.svg'
                    })
                    +call-up({
                        mix: 'main-header__call-up'
                    })
                    +button({
                        text: 'Заказать звонок',
                        mod: ['bg-secondary'],
                        mix: 'main-header__btn-call-up',
                        js: 'callback-button'
                    })
        nav.main-header__panel.js-main-nav-panel(aria-label='Основное меню' itemscope itemtype='http://schema.org/SiteNavigationElement')
            .main-header__inner
                +main-nav({
                    mix: 'main-header__main-nav',
                    items: [
                        {
                            text: 'Главная',
                        },
                        {
                            text: 'Обо мне',
                            href: '#about',
                            js: 'anchor',
                        },
                        {
                            text: 'Установка БКТП',
                        },
                        {
                            text: 'Реконструкция ГРЩ',
                        },
                        {
                            text: 'Прокладка линий НН И ВН',
                        },
                        {
                            text: 'Контакты',
                            href: '#callback',
                            js: 'anchor',
                        },
                    ]
                })
